@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body .boxes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

body .boxes-wrapper .left-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .boxes-wrapper .left-box .box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .boxes-wrapper .left-box .box-wrapper .page-title {
  font-family: "Bungee Hairline";
  width: 50%;
  font-size: 3rem;
  margin: 0;
  text-align: center;
  line-height: 1;
}

body .boxes-wrapper .left-box .box-wrapper .button {
  cursor: pointer;
  border: 0.1em solid #ccafaf;
  border-radius: 0.12em;
  margin-top: 20px;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-color: #ccafaf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 12px 35px;
}

body .boxes-wrapper .left-box .box-wrapper .button:hover {
  background-color: #a57373;
}

body .boxes-wrapper .left-box .description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px;
}

body .boxes-wrapper .left-box .description-wrapper .description {
  color: #4e4e4e;
  font-size: 0.5rem;
  text-align: justify;
  margin: 0px;
  padding: 15px;
}

body .boxes-wrapper .left-box .description-wrapper .description .developer {
  text-decoration: none;
  color: blue;
}

body .boxes-wrapper .right-box {
  background-color: #ccafaf;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .boxes-wrapper .right-box .right-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body .boxes-wrapper .right-box .right-box-wrapper .image {
  width: 500px;
  height: 300px;
  border-radius: 80px;
}

body .boxes-wrapper .right-box .right-box-wrapper .movie-title {
  font-family: 'roboto';
  font-size: 1.5rem;
  color: #272727;
}

body .boxes-wrapper .right-box .right-box-wrapper .movie-description {
  font-size: 0.7rem;
  width: 60%;
  text-align: justify;
  letter-spacing: 0.3px;
}

@media (max-width: 700px) {
  body .boxes-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .boxes-wrapper .left-box {
    width: 100%;
  }
  body .boxes-wrapper .left-box .box-wrapper .page-title {
    width: 100%;
  }
  body .boxes-wrapper .right-box {
    width: 100vw;
    height: 100vh;
  }
  body .boxes-wrapper .right-box .right-box-wrapper {
    width: 100%;
  }
  body .boxes-wrapper .right-box .right-box-wrapper .image {
    border-radius: 0px;
  }
  body .boxes-wrapper .right-box .right-box-wrapper .movie-title {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */